{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
    <!-- Implement a Buy Webpage with 2 Fields {Symbol, Shares} that is accessed by GET -->
    <form action="/buy" method="post">
        <div class="mb-3">
            <!-- Use Input Tag to accept User Input -->
            <input autofocus autocomplete="off" id="symbol" name="symbol" placeholder="Symbol" type="text" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <!-- form-control to allow us to modify asthetics of forms; set margins and widths to auto; number type to have the volume controls -->
            <input autofocus autocomplete="off" id="shares" name="shares" placeholder="Shares" type="number" min="1" class="form-control mx-auto w-auto">
        </div>

        <!-- Button to Purchase Shares -->
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}