{% extends "layout.html" %}

{% block title %}
Adding Funds
{% endblock %}

{% block main %}
    <div class="container text-center">
        <!-- Form for User to Add Funds to their Accounts -->
        <form method="post" action="/add">
            <!-- An Input Field to indicate amount of cash to be added; Within a Div to add Padding around Field -->
            <div class="mb-3">
                <input autofocus autocomplete="off" placeholder="Amount" name="add_funds" id="add_funds" class="form-control mx-auto w-auto" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Add Funds</button>
        </form>
    </div>
{% endblock %}