{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

<!-- Asking User for a Stock Symbol -->
{% block main %}
    <form action="/quote" method="post">
        <!-- Stock Symbol Field -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>

        <!-- Submit Button -->
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}